#content1
{
	float:left;
	margin-top: 20px;
}

#content2
{
	padding:5px;
	float:right;
	width: 600px;
	height: 202px;
}

#content3
{
	padding: 10px;
	float:left;
}

#content3 ul
{
	list-style-type: circle;
}

#content4
{
	padding:5px;
	float:right;
	width: 600px;
	height: 239px;
}