#left
{
	float:left;
	margin-top: 20px;
}

#right
{
	padding:5px;
	float:right;
	width: 600px;
}

#content li
{
	list-style: circle;
	padding: 5px;
	height: 12px;
	padding-bottom: 11px;
}

#content li p
{
	margin-top: 0;
}