#calculator ul li.inputlist
{
	margin-top: 16px;
}

#calculator label
{
	display: block;
	margin-bottom: 5px;
}

#calculator input.small
{
	width: 40px;
}

#calculator
{	
	float: left;
	width: 216px;
}

#myChart
{

}

#result
{
	margin: 10px 0;
}