#content div.right_images
{
	height: 200px;
	width: 300px;
	float: left;
	margin-top: 25px;
}

#content div.right_images img
{
	width: 250px;
	float: right;
}

#content div.explanation
{
	height: 200px;
	width: 600px;
	float: right;
	margin-top: 25px;
}

#content div.clear
{
	clear: both;
}

#content div.gallery
{
	float: left;
	height: 200px;
	width: 200px;
	margin: 40px 55px;
}

#content div.gallery img
{
	width: 150px;
}

#content img
{
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px; 
	transition: box-shadow 0.5s;
}

#content img:hover
{
	-moz-box-shadow: 5px 5px 5px #ccc; 
	-webkit-box-shadow: 5px 5px 5px #ccc; 
	box-shadow: 5px 5px 5px #ccc; 
}

#content a.image_link
{
	background-color: white;
}