#content ul li
{
	position: relative;
}

#content ul li p 
{
	position: relative;
	margin: 5px;
}
li a.email
{
	text-align: right;
	position: absolute;
	left: 180px;
}

form input
{
	width: 394px;
	float: left;
	margin-top: 5px;
}

form textarea
{
	width: 394px;
	float: left;
	margin-top: 5px;
	resize: none;
}

#send
{
	float: right;
	width: 50px;
	height: 20px;
}

label
{
	float:left;
	width: 70px;
	margin-top: 5px;
}

#message
{	
	min-height: 158px;
}

.number
{
	position: absolute;
	left: 180px;
	top: 3px;
}

#contactmail h3
{
	text-align: left;
}

#map-canvas-brisbane
{	
	float: left;
	width: 450px;
	height: 400px;
	margin-top: 20px;
}

#map-canvas-toowoomba
{
	float: left;
	width: 450px;
	height: 400px;
	margin-left: 30px;
	margin-top: 20px;
}

img.error
{
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 6px;
	display: none;
}
/* https://css-tricks.com/snippets/html/get-directions-form-google-maps/ */
#directionForm label
{
	width: 100px;
	margin-top: 8px;
}


#directionForm input.direction_button
{
	width: 90px;
	margin-left: 10px;
}