p.last_paragraph
{
	margin-bottom: 29px;
}

.heading
{
	text-align: left;
}

.circle
{
	margin-bottom: 29px;
}

li.tax
{
	margin-bottom: 10px;
	float: left;
	margin-left: 64px;
}

div.form-download ul
{
	width: 900px;
}
