p.last_paragraph
{
	margin-bottom: 29px;
}

.heading
{
	text-align: left;
}

.circle
{
	margin-bottom: 29px;
}

li.tax
{
	margin-bottom: 10px;
	float: left;
	padding-left: 90px;
	padding-right: 0px;
}
