img.left
{
	float: left;
	margin-top: 20px;
	padding: 5px;
	width: 300px;
}

.right
{
	float:right;
	padding: 15px;
	width: 600px;
}

.right p
{
	margin-left: 0;
}

.right h3
{
	text-align: left;
	padding-left: 0px;
}

#content div.service
{
	margin-top: 35px;
}

a.push_left
{
	margin-right: 155px;
}