/*--------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------------------------------- */

/*Colours to use */
/*
1 colour #ffd901; 
2 colour #fffa8b; 
3 colour #f9f9f9;
4 colour #090909;
4 colour #fff3cd;

*/

body
	{ 
		background-color: #f9f9f9;
		font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
		font-size: 14px;
		color: #090909;
	}

#top-bar
	{
		position: absolute;
		background-color: #FFD901;
		height: 191px;
		width: 100%;
		top: 0px;
		z-index: -1;
		border-radius: 0 0 300px 300px;
	}

div.outside.gradient
	{
		position: absolute;
		top: 191px;
		height: 50px;
		width: 100%;
		z-index: -1;
		background: -webkit-linear-gradient(#ffd901 0%, #f9f9f9 95%); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#ffd901 0%, #f9f9f9 95%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#ffd901 0%, #f9f9f9 95%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#ffd901 0%, #f9f9f9 95%); /* Standard syntax (must be last) */
	}

#bottom-bar 
	{
		position: relative;
		background-color: #FFD901;
		height: 100px;
		width: 100%;
		bottom: 0px;
		z-index: -1;
	}

#big-container 
	{	
		width: 1000px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		z-index:10;
	}
/******************
*    head  *
******************/
#header
	{	
		background-color: #ffd901;
		height: 150px;
	}

#header h1
	{	
		margin: 5px 0 0 270px;
	}
	
#phonenumber
	{	
		float: right;
		padding: 30px;
		font-weight: bold;
	}
	
.headingtitle
	{	
		margin-top: 20px;
		height: 70px;
	}	
	
.headingpic
	{	
		float: left;
	}		

#place
	{
		float: left;
		line-height: 20px;
	}	

#number
	{
		margin-left: 150px;
		line-height: 20px;
	}
	
/******************
*    nav  *
******************/	
#nav
	{	
		/* height: 40px; */
		background: #090909;
		position:relative;
        z-index:100;
        width: 999px;
	}
	
#nav li
	{
		float: left;
		position: relative;
		width: 16.66666666%;
	}	
	
#nav li a
	{
		color: #f9f9f9;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		display: block;
		padding: 10px;
		height: 20px;
		transition: background-color 0.5s;
	}

#nav ul li a:hover
	{
		color: #090909;
		font-size: 15px;
		background-color: #FFD901;
	}		

#nav ul ul 
	{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		transition: opacity 0.5s;
	}
	
#nav ul ul li	
	{
		width: 245px;
	}
	
#nav ul ul li a
	{
		text-align: left;
		background-color: #fffa8b;
		color: #090909;	
	}

#nav ul ul li a:hover
	{
		background-color: #FFD901;
	}
#nav ul li:hover ul
	{
		visibility: visible;
		opacity: 1;
	}
	
#nav .active
	{
		color: #090909;
		background-color: #fffa8b;
	}
	
/******************
*    content  *
******************/	


#content
	{
		min-height: 600px; 	/* temporary */
		background-color: white;	/* temporary */
		padding: 15px 30px 15px 30px;
		text-align: both;
	}

#content a
	{
		background-color: #fff3cd;
	}
	
div.gradient
	{
		height: 50px;
		background: -webkit-linear-gradient(#ffd901 0%, white 95%); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#ffd901 0%, white 95%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#ffd901 0%, white 95%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#ffd901 0%, white 95%); /* Standard syntax (must be last) */
	}
	
/******************
*    home  *
******************/		
	
#address1 , #address2
	{
		padding: 20px;
	}
	
.addresspic
	{
		margin:10px 70px 30px 20px;
		float: left;
	}

ul.circle 
	{
		list-style-type: circle;
		padding-left: 40px;
	}
	
/******************
*    footer  *
******************/	
#footer
	{
		overflow: hidden;
		background-color: #ffd901;
		clear: both;
		border-radius: 300px 300px 0 0;
		width: 100%;
		height: 227px;
	}
#footer_container
	{
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 1000px;

	}
#footer p
	{
		font-size: 12px;
		margin: 0;
	}
	
#announcement
	{
		clear: both;
		text-align: center;
		font-weight: bold;
	}
	
#announcement hr
	{
		width: 95%;
		margin-top: 0;
		border: 2px solid #090909;
	}	
	
.bottom
	{
		width: 125px;
		float: left;
		padding: 30px;
	}

.bottom img
	{
		width: 20px;
	}
	
.logo
	{
		float: left;
		width:  230px;
	}
	
/******************
*   Contact  *
******************/		

#contactmail
	{
		float: left;
		width: 50%;
	}

	#contactname
		{
			float:left;
		}
		
	#contactaddress
		{
			float:left;
			margin-left: 45px;
		}	
	
#contactform
	{
		float:left;
		width: 50%;
	}	

	#form
		{
			padding: 10px; /* temporary: do something more here */
		}
	
/******************
*   addition  *
******************/		
.clear 
	{
		clear: both;
	}

.center
	{
		text-align: center;
	}
	
p
	{
		font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
		font-size: 14px;
		margin: 10px 0 10px 0;
		line-height: 20px;
	}

b
	{
		font-weight: bold; 
	}
	
h1
	{
		font-family: Georgia,Times,"Times New Roman",serif;
		font-size: 25px;
		font-weight: bold;
		padding: 4px;
	}

h2
	{
		font-family: Georgia,Times,"Times New Roman",serif;
		font-size: 25px; 
		text-align: center;
		padding: 8px;
		background: white;
	}
	
h3
	{
		font-family: Georgia,Times,"Times New Roman",serif;
		font-size: 20px; 
		font-weight: bold; 
		margin: 3px; 
		text-align: center;
	}
	
h4
	{
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 10px;
	}

h5
	{
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 15px;
		text-align: center;
	}	
	
a:link 
	{
		color: #090909;
		text-decoration: none;
	}

a:visited 
	{
		color: #494949;
		text-decoration: none;
	}

a:hover 
	{
		color: #090909;
		text-decoration: underline;
	}

a:active
	{
		color: #090909;
		text-decoration: underline;
	}
	